@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.font-jetbrains-mono-regular {
  font-family: "JetBrains Mono", monospace, "Arial";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-jetbrains-mono-bold {
  font-family: "JetBrains Mono", monospace, "Arial";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
